.checkboxWrapper {
  .control {
    @apply relative block cursor-pointer pl-7 body2;

    .controlIndicator {
      position: absolute;
      top: 2px;
      left: 0;
      height: 18px;
      width: 18px;
      border: 2px solid black;
      transition: background-color 0.3s ease;
      &::after {
        content: '';
        position: absolute;
        left: 5px;
        top: 2px;
        width: 5px;
        height: 9px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        display: none;
      }
    }
    input[type='checkbox']:checked + .controlIndicator::after {
      display: block;
    }

    input[type='checkbox']:checked + .controlIndicator {
      background: black;
    }
  }
}
